/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1c1c1c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #2e2e2e;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.sidebar nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center; /* Center-align links */
}

.sidebar nav ul li {
  margin: 10px 0; /* Space between links */
}

.sidebar nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal; /* Make font-weight normal for a minimalistic look */
  display: block;
  transition: color 0.3s;
}

.sidebar nav ul li a:hover {
  color: #d3d3d3; /* Change text color slightly on hover for visual feedback */
}

.content {
  margin-left: 200px;
  flex-grow: 1;
  padding: 40px;
  overflow-y: auto;
}

/* Headings */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #e2e2e2;
  font-size: 28px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #cccccc;
}

/* Button Styles */
button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #404040;
  color: #ffffff;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #cccccc;
}

select {
  color: #ffffff;
}

/* Edit/Delete Buttons */
button.edit-btn {
  background-color: #28a745;
}

button.delete-btn {
  background-color: #dc3545;
}

/* Gallery Grid */
ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

li {
  background-color: #333333;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

li a:hover {
  text-decoration: underline;
}

.home-container {
  text-align: center;
  padding: 10px;
}

.crewmates-image {
  max-width: 40%; /* Adjust width as needed */
  height: auto;
  margin-top: 20px;
  border-radius: 10px; /* Optional rounded corners */
}
